# Binaries for programs and plugins
main
tabua_mare_api
TabuaMareAPI
*.exe
*.exe~
*.so
*.dylib
*.dll

# Ignore binary output folders
bin/
.velvet/

# Ignore common editor/system specific metadata
.DS_Store
.idea/
.vscode/
*.iml

# ENV
.env

# vweb and database
*.db
*.sqlite
*.sqlite-shm
*.sqlite-wal
*.js

# Ignore files
*.txt
*.json

/.qodo
/.trae
/.superpowers/
